@page "/Register"
@using HttpClients.ClientInterfaces
@using global::Shared.Domain
@using System.Collections.ObjectModel
@using global::Shared.DTOs
@inject AuthInterface authService;
@inject DialogService dialogService;
@inject NavigationManager navMgr;
@inject TooltipService tooltipService;

<h3>Register</h3>

<div class="register-card">
    <div class="form-group field">
    
        <RadzenTemplateForm Style="color: #1a1e21; font-weight: bold;" TItem="Person" Submit=@CreateAsync>
            
            <div class="row justify-content-center">
                <div class="col-4">
                    <RadzenLabel Component="PersonType" Text="Who are you?"/>
                </div>
                <div class="col">
                    <RadzenRadioButtonList TValue="int?" Change=@((args) => OnChange(args.Value))>
                        <Items>
                            <RadzenRadioButtonListItem Text="Host" Value="1" TValue="int?"/>
                            <RadzenRadioButtonListItem Text="Refugee" Value="2" TValue="int?"/>
                        </Items>
                    </RadzenRadioButtonList>
                </div>
            </div>
            
            <div class="row p-2">
                <div class="col-4">
                    <RadzenLabel Component="Email" Text="Email"/>
                </div>
                <div class="col">
                    <RadzenTextBox Name="Email" @bind-Value=@email></RadzenTextBox>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                     <RadzenLabel Component="Password" Text="Password"/>
                </div>
                <div class="col">
                     <RadzenPassword @bind-Value=@password />
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                     <RadzenLabel Component="Nationality" Text="Nationality"/>
                </div>
                <div class="col">
                    <RadzenDropDown TValue="string" AllowFiltering="true" AllowPaging="true" AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@(Nationalities) Change="@ChangeNationality"/>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    <RadzenLabel Component="FirstName" Text="First name"/>
                </div>
                <div class="col">
                     <RadzenTextBox Name="FirstName" @bind-Value=@firstName />
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                     <RadzenLabel Component="MiddleName" Text="Middle name"/>
                </div>
                <div class="col">
                     <RadzenTextBox Name="MiddleName" @bind-Value=@middleName />
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                     <RadzenLabel Component="LastName" Text="Last name"/>
                </div>
                <div class="col">
                     <RadzenTextBox Name="LastName" @bind-Value=@lastName />
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    <RadzenLabel Component="Gender" Text="Gender"/>
                </div>
                <div class="col">
                     <RadzenDropDown TValue="string" Data=@(GenderCollection) Change="@GenderChange"/>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                     <label for="dateOfBirth">Date of birth:</label>
                </div>
                <div class="col">
                    <input type="date" id="dateOfBirth" name="dateofBirth" @bind="date">
                </div>
            </div>
            @if (isRefugee)
            {
                <div class="row p-2">
                    <div class="col-4">
                        <RadzenLabel Component="About" Text="Description" MouseEnter=
                                     "@(args => ShowTooltip(args, "This field is intended for you to write information which might be of relevance to hosts.", new TooltipOptions() { Position = TooltipPosition.Left, Duration = 10000 }))" Class="me-1 mb-1"/>
                    </div>
                    <div class="col">
                         <RadzenTextArea @bind-Value="about" Cols="22" Rows="10"></RadzenTextArea>
                    </div>
                </div>
                
                <div class="row p-2">
                    <div class="col-4">
                        <RadzenLabel Component="familySize" Text="Family Size" MouseEnter=
                                     "@(args => ShowTooltip(args, "Including yourself", new TooltipOptions() { Position = TooltipPosition.Left, Duration = 10000 }))" Class="me-1 mb-1"/>
                    </div>
                    <div class="col">
                        <RadzenNumeric TValue="int" Min="1" Max="10" @bind-Value=@familySize />
                        <RadzenRequiredValidator Component="capacity" Text="capacity name is required!"/>
                    </div>
                </div>
            }
            <div class="row p-2">
                <RadzenButton Style="color: white; font-weight: bold; background-color: #455dc7" ButtonType="ButtonType.Submit" Text="Create" Click="@CreateAsync"/>
            </div>

        </RadzenTemplateForm>
    
            @if (showAlert)
            {
                <RadzenAlert AlertStyle=@alertStyle AllowClose="false">@resultMsg</RadzenAlert>
            }
    </div>
</div>



@code {

    class Person
    {
    }


    private string email = "";
    private string password = "";
    private string nationality = "";
    private string personType = "";
    private string gender = "";
    private string firstName = "";
    private string middleName = "";
    private string lastName = "";
    private string about = "";
    private int familySize = 1;
    DateOnly date = new DateOnly(2011, 11, 11);

    public Collection<string> Nationalities = new Collection<string>() { "Danish", "Lithuanian", "Polish", "English", "French", "Ukrainian", "German","Syrian","Afghanistani", "Other" };
    public Collection<string> GenderCollection = new Collection<string>() { "Female", "Male", "Other" };

    private bool showAlert;
    private AlertStyle alertStyle;
    private string resultMsg = "";
    private bool isRefugee = false;

    private ElementReference reference;

    private string color = "";

    private async Task CreateAsync()
    {
        
        resultMsg = "";
        Date dateOfBirth = new Date(date.Day, date.Month, date.Year);

        try
        {
            CheckValues();
            
            if (personType.Contains("host"))
            {

                HostDTO host = await authService.RegisterHostAsync(new HostRegisterDTO(email, password, gender[0],
                    nationality, firstName, middleName, lastName, dateOfBirth));
            }
            else if (personType.Contains("refugee"))
            {
                RefugeeDTO refugee = await authService.RegisterRefugeeAsync(new RefugeeRegisterDTO(email, password, gender[0],
                    nationality, firstName, middleName, lastName, dateOfBirth, familySize, about));
            }
            
            Clear();
            var dialogResult = await dialogService.Alert("Registration complete. Click proceed to go to login", "Success", new AlertOptions { OkButtonText = "Go to login" });
            if (dialogResult.HasValue && dialogResult.Value)
            {
                navMgr.NavigateTo("/Login");
            }

        }
        catch (Exception e)
        {
            showAlert = true;
            resultMsg = e.Message;
            alertStyle = AlertStyle.Danger;
        }

    }

    private void CheckValues()
    {
        if (string.IsNullOrWhiteSpace(personType))
        {
            throw new Exception("Please select which type of account to register for");
        }
        if (string.IsNullOrWhiteSpace(email))
        {
            throw new Exception("Email must be set");
        }
        if (!email.Contains(".") || !email.Contains("@"))
        {
            throw new Exception("Please enter a valid email");
        }
        if (string.IsNullOrWhiteSpace(password))
        {
            throw new Exception("Password must be set");
        }
        if (string.IsNullOrWhiteSpace(nationality))
        {
            throw new Exception("Please select a nationality");
        }
        if (string.IsNullOrWhiteSpace(firstName))
        {
            throw new Exception("First name must be set");
        }
        if (string.IsNullOrWhiteSpace(lastName))
        {
            throw new Exception("Last name must be set");
        }
        if (string.IsNullOrWhiteSpace(gender))
        {
            throw new Exception("Please select a gender");
        }

        if (isRefugee)
        {
            if (familySize < 1)
            {
                throw new Exception("Family size must be at least 1");
            }
        }
    }
    private void Clear()
    {
        email = "";
        password = "";
        nationality = "";
        personType = "";
        gender = "";
        firstName = "";
        middleName = "";
        lastName = "";
        date = new DateOnly(2011, 11, 11);
        familySize = 1;
        about = "";
        showAlert = false;
    }
    private void OnChange(int value)
    {
        Console.WriteLine("Value changed to: " + value);

        if (value == 1)
        {
            personType = "host";
            isRefugee = false;
        }
        if (value == 2)
        {
            personType = "refugee";
            isRefugee = true;
        }
    }
    private void ChangeNationality(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        nationality = (string)str;
        Console.WriteLine($"Nationality changed to {str}");
    }
    private void GenderChange(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        gender = (string)str;
        Console.WriteLine($"Gender changed to {str}");
    }
    private void ShowTooltip(ElementReference elementReference,  string text,TooltipOptions options = null)
        => tooltipService.Open(elementReference, text, options);
    




    

    protected override void OnInitialized()
    {
        personType = "host";
        nationality = "Danish";
        gender = "Female";
    }

}