@page "/Register"
@using HttpClients.ClientInterfaces
@using global::Shared.Domain
@using System.Collections.ObjectModel
@using global::Shared.DTOs
@inject AuthInterface authService;

<h3>Register</h3>

<div class="card">
    <div class="form-group field">

        <RadzenTemplateForm Style="color: #1a1e21; font-weight: bold;" TItem="Person" Submit=@CreateAsync>
            <p>
                <RadzenLabel Component="Email" Text="Email"/>
                <RadzenTextBox Name="Email" @bind-Value=@email />
                <RadzenEmailValidator Component="Email" Text="Enter email" />
                <RadzenRequiredValidator Component="Email" Text="Email is required!"/>

            </p>
            <p>
                <RadzenLabel Component="Password" Text="Password"/>
                <RadzenPassword @bind-Value=@password />
                <RadzenRequiredValidator Component="Password" Text="Password is required!"/>
            </p>
            
            <p>
                <RadzenLabel Component="Nationality" Text="Nationality"/>
                <RadzenDropDown TValue="string" AllowFiltering="true" AllowPaging="true" AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@(Nationalities) Change="@ChangeNationality"/>
            </p>

            <p>
                <RadzenLabel Component="FirstName" Text="First name"/>
                <RadzenTextBox Name="FirstName" @bind-Value=@firstName />
                <RadzenRequiredValidator Component="FirstName" Text="First name is required!"/>
            </p>

            <p>
                <RadzenLabel Component="MiddleName" Text="Middle name"/>
                <RadzenTextBox Name="MiddleName" @bind-Value=@middleName />
            </p>

            <p>
                <RadzenLabel Component="LastName" Text="Last name"/>
                <RadzenTextBox Name="LastName" @bind-Value=@lastName />
                <RadzenRequiredValidator Component="LastName" Text="Last name is required!"/>
            </p>
            
            <p>
                <RadzenLabel Component="Gender" Text="Gender"/>
                <RadzenDropDown TValue="string" Data=@(GenderCollection) Change="@GenderChange"/>
            </p>

            <p>
                <RadzenLabel Component="PersonType" Text="Who are you?"/>
                <RadzenDropDown TValue="string" Data=@(PersonTypeCollection) Change="@OnChange"/>
            </p>

            <p>
                <label for="dateOfBirth">Date of birth:</label>
                <input type="date" id="dateOfBirth" name="dateofBirth" @bind="date">
            </p>

            <RadzenButton Style="color: white; font-weight: bold; background-color: #6a1a21" ButtonType="ButtonType.Submit" Text="Create" Click="@CreateAsync"/>

        </RadzenTemplateForm>

        <label style="color: @color">@resultMsg</label>
    </div>
</div>


@code {

    class Person
    {
    }


    private string email = "";
    private string password = "";
    private string nationality = "";
    private string personType = "";
    private string gender = "";
    private string firstName = "";
    private string middleName = "";
    private string lastName = "";
    DateOnly date = new DateOnly(2011, 11, 11);

    public Collection<string> PersonTypeCollection = new Collection<string>() { "I am a Host.", "I am a Refugee." };
    public Collection<string> Nationalities = new Collection<string>() { "Danish", "Lithuanian", "Polish", "English", "French", "Ukrainian", "German", "Other" };
    public Collection<string> GenderCollection = new Collection<string>() { "Female", "Male", "Other" };

    private string resultMsg = "";

    private string color = "";

    private async Task CreateAsync()
    {
        
        resultMsg = "";
        Date dateOfBirth = new Date(date.Day, date.Month, date.Year);

        if (personType.Contains("host"))
        {
            
            HostDTO host = await authService.RegisterHostAsync(new HostRegisterDTO(email, password, gender[0], nationality, firstName, middleName, lastName, dateOfBirth));
                if (host.ErrorMessage.Equals(""))
                {
                    Console.WriteLine("We created a host.");
                    Clear();
                    resultMsg = "User successfully created";
                    color = "green";
                }
                else
                {
                    Console.WriteLine(host.ErrorMessage);
                    resultMsg = host.ErrorMessage;
                    color = "red";
                }
            }
        else if (personType.Contains("refugee"))
        {
            RefugeeDTO refugee = await authService.RegisterRefugeeAsync(new RefugeeRegisterDTO(email, password, gender[0], nationality, firstName, middleName, lastName, dateOfBirth));
                if (refugee.ErrorMessage.Equals(""))
                {
                    Clear();
                    resultMsg = "User successfully created";
                    color = "green";
                    Console.WriteLine("We created a refugee.");
                }
                else
                {
                    Console.WriteLine(refugee.ErrorMessage);
                    resultMsg = refugee.ErrorMessage;
                    color = "red";
                }
                
        }
        
    }

    private void Clear()
    {
        email = "";
        password = "";
        nationality = "";
        personType = "";
        gender = "";
        firstName = "";
        middleName = "";
        lastName = "";
        date = new DateOnly(2011, 11, 11);
    }

    private void OnChange(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        if (str.Equals("I am a Host."))
        {
            personType = "host";
        }
        else
        {
            personType = "refugee";
        }

        Console.WriteLine($"Value changed to {str}");
    }

    private void ChangeNationality(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        nationality = (string)str;
        Console.WriteLine($"Value changed to {str}");
    }


    private void GenderChange(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        gender = (string)str;
        Console.WriteLine($"Value changed to {str}");
    }

}